{{!-- nav bar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="mr-2"><img id="logo" src="/assets/images/spotcheck-logo.png" alt="logo-spotcheck"></span><a
        href="/login">
        <h1 id="name-app" class="ml-auto">Spotcheck</h1>
    </a>
    <button id="menu-button" class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div id="near-you" class="nav-link mr-2">Near You</div>
            </li>
            <li class="nav-item">
                <div id="destination" class="nav-link mr-2">At Destination</div>
            </li>
            <li class="nav-item">
                <div id="spot-claimed" class="nav-link">Spot Claimed</div>
                {{!-- <a id="spot-claimed" href="/spot-claimed" class="nav-link mr-2">Spot Claimed</a> --}}
            </li>
        </ul>
    </div>
</nav>

{{!-- main container --}}
<div class="container text-center mx-auto">

    {{!-- search input box to enter the destination to display only when "At destination" is clicked on --}}
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 text-center mx-auto">
            <form id="search-destination" class="mt-3 text-left" style="display:none">
                <div class="form-group">
                    <label for="street" class="font-weight-bold">Enter the street address</label>
                    <input type="text" class="form-control" id="street" required>
                    <label for="city" class="font-weight-bold">Enter the city</label>
                    <input type="text" class="form-control" id="city" required>
                    <label for="state" class="font-weight-bold">Choose the state</label>
                    <select id="state" class="form-control bfh-states" data-country="US" data-state="CA"></select>
                    <button type="submit" class="btn"><i id="btn-search" class="fas fa-arrow-circle-right"></i></button>
                </div>
            </form>
        </div>
    </div>


    {{!-- map --}}
    <div class="row mt-4 mb-3">
        <div class="col-sm-12">
            <div id="map" style="width:100%;height:400px"></div>
        </div>
    </div>

    {{!-- card to display the spot claimed --}}
    <div class="row mt-4">
        <div class="col-sm-12 col-md-8 col-lg-8 text-center mx-auto">
            <div id="spot" class="card" style="display:none">
                <div id="spot-claimed-title" class="card-header font-weight-bold">Spot you claimed</div>
                <div class="card-body text-center mx-auto">
                    <form class="mt-3 text-left">
                        <div id="spot-info" class="text-center"></div>
                        <button id="not-available-btn" type="submit" class="btn bg-danger">The spot wasn't available!</button>
                        <button id="leave-spot-btn" type="submit" class="btn bg-success">I am leaving the spot!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{!-- buttons for the different kinds of parking --}}
    <div class="row">
        <div class="col-sm-12">
            <div id="buttons" style="display:block">
                <button id="btn-occupied" class="btn btn-lg bg-danger mr-2 mt-2" type="submit">Open > 30 min</button>
                <button id="btn-free" class="btn btn-lg bg-success mr-2 mt-2" type="submit">Recently Open</button>
                <button id="btn-recently" class="btn btn-lg bg-warning mt-2" type="submit">Open Soon</button>
            </div>
        </div>
    </div>

    {{!-- card to list the results --}}
    <div class="row mt-4">
        <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
            <div id="card-results" class="card" style="display:block">
                <div id="results-title" class="card-header font-weight-bold">Claim your spot!</div>
                <div id="results-form" class="card-body text-left">
                    <ul id="spot-data" class="list-group"></ul>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var map, infoWindow;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 0, lng: 0 },
            zoom: 4
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Your position');
                infoWindow.open(map);
                map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
</script>

{{!-- Link Google Map API --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC9CsEo4ZXBb-6M2d9TfG8DgvcTXXcEo0&callback=initMap"></script>