{{!-- nav bar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span id="logo" class="mr-2"><img src="/assets/images/spotcheck-logo.png" alt="logo-spotcheck" style="height: 75px"></span><h1 id="name-app">Spot Check!</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-dark mr-2" href="/">Near You</a>
            </li>
            <li class="nav-item">
                <a id="destination" class="nav-link text-dark" href="/">Other Destination</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- main container --}}
<div class="container text-center mx-auto">

    {{!-- map --}}
    <div class="row mt-3 mb-3">
        <div class="col-sm-12">
            <img id="map" class="img-fluid img-thumbnail" src="#" alt="map"/>
        </div>
    </div>

    {{!-- buttons for the different kinds of parking --}}
    <div class="row">
        <div class="col-sm-12">
            <button id="btn-occupied" class="btn btn-lg bg-danger mr-2 mt-2" type="submit" style="display:inline-block">Open > 30 min</button>
            <button id="btn-free" class="btn btn-lg bg-success mr-2 mt-2" type="submit" style="display:inline-block">Recently Open</button>
            <button id="btn-recently" class="btn btn-lg bg-warning mt-2" type="submit" style="display:inline-block">Open Soon</button>
        </div>
    </div>

    {{!-- card to list the results --}}
    <div class="row mt-3 mx-auto">
        <div class="col-sm-12">
            <div id="card-results" class="card" style="display:none">
                <div id="results-title" class="card-header">Results</div>
                <div id="results-form" class="card-body">
                    <ul class="list-group">
                        {{!-- set up for partials when the dataset is done --}}
                        {{!-- {{#each put-name-table-for-spots-info}} --}}
                            {{!-- {{> spot-check }} --}}
                        {{!-- {{/each}} --}}
                    </ul>
                </div>
            </div> 
        </div>
    </div>

</div>