{{!-- nav bar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="mr-2"><img id="logo" src="/assets/images/spotcheck-logo.png" alt="logo-spotcheck"></span><h1 id="name-app" class="ml-auto mr-auto">Spotcheck</h1>
</nav>

{{!-- main container --}}
<div class="container text-center mx-auto">

    {{!-- card to log in --}}
    <div class="row mt-4">
        <div class="col-sm-12 col-md-8 col-lg-8 text-center mx-auto">
            <div class="card">
                <div class="card-body">
                    <form id="login-form" class="mt-3 text-left">
                        <div class="form-group">
                            <label for="phone-number">Enter your phone number</label>
                            <input type="text" class="form-control bfh-phone" data-format="ddd-ddd-dddd" id="phone-number" required>
                            <small id="phone-disclaimer" class="form-text text-muted">We'll never share your phone number. You won't receive unsollicited phone calls.</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Enter your password</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>
                        <button id="login-btn" type="submit" class="btn">Log in!</button>
                    </form>
                </div>
            </div>
            <a href="/">Oh, I actually need to register!</a>
        </div>
    </div>

</div>

{{!-- jQuery's CDN --}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{{!-- link our JavaScript file for this page --}}
<script type="text/javascript" src="/javascript/login.js"></script>